# Ignore Terraform state files
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup

terraform.tfstate
# Ignore Lambda ZIP files
lambda/package.zip

# Ignore Python caches
__pycache__/
lambda/__pycache__/


